@import url("path/to/reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body {
  font-family: "Roboto", sans-serif;
}

.header-nav {
  background-color: #fff;
  padding: 20px 0;
}

.header-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

li.header-nav-item {
  margin-right: 20px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.header-nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #0400fa;
}

.Project-nav-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.Project-nav {
  margin-bottom: 20px;
}

.Project-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Project-nav-item {
  margin: 0 10px;
}

.Project-nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.Project-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li.Project-item {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  display: flex;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.image {
  float: left;
  position: relative;
  width: 30%;
  height: auto;
}

img {
  border-style: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.Project-item-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.Project-item-category {
  color: #666;
}
